<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<body>
	Ahoj, dnes je {{ date }}.
	<hr>
	{% if name and surname %}
		<strong>{{ name }} {{ surname }}, rád tě vidím!</strong><hr>
	{% endif %}
    {% if password %}
    	{% if password == "heslo" %}
		<strong>Spravné heslo!</strong><hr>
        <a href="{{ url_for('tajne') }}">Prihlasit</a>
        {% else %}
		<strong>Špatné heslo!</strong><hr>
	    {% endif %}
	{% endif %}
    {% if message %}
		<strong>{{ message }}</strong><hr>
	{% endif %}


	Řekni mi své jméno a já tě pozdravím!
	<form method="POST">
		<input type="text" name="name" placeholder="Zadej své jméno">
		<input type="text" name="surname" placeholder="Zadej své příjmení">
        <input type="password" name="password" placeholder="Zadej své heslo">
		<button type="submit">Pozdrav mě!</button>
	</form>

</body>
</html>
